
{% extends "layout.html" %}

{% block pageTitle %}
  DWP Relationships
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#relationship-type-error">Select if you are still {{ data['relationshipTypeFullLowercase'] or '[married/in the civil partnership]' }}</a>
            </li>
          </ul>
        </div>
      </div>

      <form class="form" method="post">

          <div class="govuk-form-group govuk-form-group--error">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint changed-name-error">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Are you still {{ data['relationshipTypeFullLowercase'] or '[married/in the civil partnership]' }}?
                </h1>
              </legend>
              <span id="relationship-type-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Select if you are {{ data['relationshipTypeFullLowercase'] or '[married/in the civil partnership]' }}
              </span>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="still-in-a-relationship-1" name="still-in-a-relationship" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="still-in-a-relationship-1">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="still-in-a-relationship-2" name="still-in-a-relationship" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="still-in-a-relationship-2">
                    No
                  </label>
                </div>
              </div>

            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

    </div>
  </div>

{% endblock %}
