
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Relationships Service
        <br /><strong class="govuk-tag govuk-tag--green">Green Zone</strong>
      </h1>

      <h2 class="govuk-heading-m">Maternity Allowance prototype</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li class="govuk-body"><a href="/maternity-allowance/iteration-1/start?guid=0123456">Iteration 1</a></li>
        <li class="govuk-body"><a href="/maternity-allowance/iteration-2/start?guid=0123456">Iteration 2</a></li>
      </ul>

      <p>The URL contains a GUID parameter "0123456".</p>
      <p>This simulates an earlier authenticated source GUID that has been passed to the Relationships Service from Maternity Allowance.</p>
      <p>Change this GUID in the URL and press enter to reload the page. This new source GUID is persisted in the URL throughout all Relationships screens.</p>

    </div>
  </div>

{% endblock %}
