
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Relationships Service
        <br /><strong class="govuk-tag govuk-tag--green">Green Zone</strong>
      </h1>
      <p>
        For all Relationships Service protoypes.
      </p>

      <h2 class="govuk-heading-m">Maternity Allowance</h2>

      <p class="govuk-body govuk-!-font-weight-bold"><a href="/iteration-1/relationships/start?guid=0123456">Iteration 1 Prototype</a></p>
      <p>The URL contains a GUID parameter "0123456".</p>
      <p>This simulates an earlier authenticated source GUID that has been passed to the Relationships Service from Maternity Allowance.</p>
      <p>Change this GUID in the URL and press enter to reload the page. This new source GUID is persisted in the URL throughout all Relationships screens.</p>

    </div>
  </div>

{% endblock %}
