
{% extends "layout.html" %}

{% block pageTitle %}
  DWP Relationships
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-heading-xl">
                    Is your partner's addess the same as yours?
                  </h1>
                  <div id="dob-hint" class="govuk-hint">
                    123 Acacia Avenue, Chelsea, London, AB1 2CD <!--{{ data['relationshipPartnerName']  or '[[relationship-partner-name]]'}}-->
                  </div>
                </legend>
                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="address-1" name="address" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="address-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="address-2" name="address" type="radio" value="no" data-aria-controls="conditional-contact">
                      <label class="govuk-label govuk-radios__label" for="address-2">
                        No
                      </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="partner-postcode">
                          What is your partner's post code?
                        </label>
                        <input class="govuk-input govuk-!-width-one-third" id="partner-postcode" name="prtner-post-code" type="" spellcheck="false">
                      </div>
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="address-3" name="address" type="radio" value="dont-know">
                    <label class="govuk-label govuk-radios__label" for="address-3">
                      I don't know my partner's address
                    </label>
                  </div>
                </div>

              </fieldset>
            </div>









        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
